@font-face {
	font-family: "Game of Thrones";
	src: url(../Fonts/Game\ of\ Thrones.ttf) format("truetype");
}

html, body {
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #e6e6e6;
}

#mainnav {
	position: absolute;
	z-index: 1;
	height: 100%;
}

#mainnav li {
	margin: 40px 0px;
	top: -150px;
	display: none;
	position: relative;
	text-align: center;
}

#mainnav a {
	color: #f1f1f1;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1.6em;
	font-weight: 500;
	display: inline-block;
}


.hamb {
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 2.5em;
	z-index: 1;
}

.hamb i {
	color: #f1f1f1;
	text-decoration: none;
}

.hamb i:hover {
	cursor: pointer;
}

.wallpaper {
	width: 100%;
	height: 100%;	
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.winter {
	background: url(../images/mountains.jpg) center no-repeat;
	background-size: cover;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	font-family: "Game of Thrones", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: rgb(255, 255, 255);
	width: 100%;
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 40px auto;
	line-height: 0.6em;
	text-shadow: .5px .5px 1px #202020;
	padding-top: 5px;
}

h1 span {
	font-size: 0.4em;
	line-height: 1.5em;
	vertical-align: top;
}

#hidden {
	opacity: 0;
}

#snow {
	width: 100%;
	height: 100%;
	opacity: 0.9;
	position: fixed;
	display: none;
	z-index: 1;
	background: rgba(0, 0, 0, .95);
}

.gap {
	color: #fff;
	margin: auto;
	width: 100vw;
	position: absolute;
	top: 10%;
}


@media only screen and (min-width: 700px) {
	h1 {
		font-size: 3.5em;
	}

	#mainnav {
		margin-left: 50px;
	}
	
	#mainnav li {
		margin: 20px 0px;
		padding-left: 40px;
		display: inline-block;
	}
	
	#mainnav a {
		font-weight: 400;
	}

	.gap {
		width: calc(100vw - 50px);
		top: 0%;
	}
	
	#snow {
		background: rgba(0, 0, 0, .5);
	}

}

@media only screen and (min-width: 1000px) {
	h1 {
		font-size: 4em;
	}

	#mainnav li {
		margin: 20px 20px;
		padding-left: 40px;
	}
}